---
layout: default.html
---
<link rel="stylesheet" href="https://eloquent-meitner-a0eb61.netlify.app/css/main.css">

<section class="section">
  <div class="container" style="min-height:80vh;margin-top:50px;max-width:1000px;">
    <h1 class="title" style="margin-bottom:10px;">{{ title }}</h1>
    <div style="color:#ddd;font-size:12px;margin-bottom:22px;">
      Published on {{ date }}
    </div>

    <article class="spaced-paragraphs">
      {{ content }}
    </article>

    <br><br><a href="../index.html"><- back</a>
  </div>
</section>
