<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <meta name="Description" content="{{description}}">
    <!-- Google Analytics -->
      <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-100342661-1', 'auto');
      ga('send', 'pageview');
      </script>
    <!-- End Google Analytics -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <meta property="og:title" content="{{title}}">
    <meta property="og:url" content="https://nathanpeterson.net/">
    <meta property="og:image" content="https://nathanpeterson.net/assets/nathan-peterson-singer-songwriter-b.jpg">
    <meta property="og:description" content="{{description}}">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@nathanpeterson">
    <meta name="twitter:creator" content="@nathanpeterson">
    <meta name="twitter:title" content="Nathan Peterson">
    <meta name="twitter:description" content="Singer, songwriter, and musician from Illinois, USA.">
    <meta name="twitter:image" content="https://nathanpeterson.net/assets/nathan-peterson-singer-songwriter-b.jpg">
    <!-- icon stuff -->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <!-- SCHEMA -->
    <!-- Music Group Schema -->
    <script type="application/ld+json">
      {
        "@context" : "http://schema.org",
        "@type" : "MusicGroup",
        "name" : "Nathan Peterson",
        "url" : "https://nathanpeterson.net",
        "image" : "https://photos.bandsintown.com/thumb/9034662.jpeg",
        "sameAs" : [
          "http://www.facebook.com/nathanpetersonmusic",
          "http://www.twitter.com/nathanpeterson",
          "http://www.instagram.com/nathanpeterson",
          "http://www.youtube.com/helloindustry",
          "http://www.soundcloud.com/helloindustry",
          "http://nathanpeterson.bandcamp.com",
          "http://www.patreon.com/nathanpeterson"
        ]
        }
      </script>
    <!-- END OF SCHEMA -->
  </head>
  <body>
    <!-- navbar -->
    <nav class="navbar is-fixed-top is-transparent is-uppercase" role="navigation" aria-label="main navigation">
          <div class="navbar-brand">
            <a class="navbar-item" href="https://nathanpeterson.net"><strong>Nathan Peterson</strong></a>

            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
              <span aria-hidden="true"></span>
              <span aria-hidden="true"></span>
              <span aria-hidden="true"></span>
            </a>
          </div>

          <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-end is-size-7-desktop is-size-4-touch">
              <a class="navbar-item" href="/index.html">
                Home
              </a>
              <a class="navbar-item" href="/songs-about-life.html">
                Music
              </a>
              <a class="navbar-item" href="/live-music.html">
                Concerts
              </a>
              <a class="navbar-item" href="/speaking-workshops-for-voice-songwriting-worship-leading.html">
                Speaking & Workshops
              </a>
              <a class="navbar-item" href="/books-about-grief-and-healing.html">
                Books
              </a>
              <a class="navbar-item" href="/blog/">
                Blog
              </a>
              <a class="navbar-item" href="/contact-nathan-peterson.html">
                Contact
              </a>
              <a class="navbar-item" href="/about-nathan-peterson.html">
                About
              </a>
              <a class="navbar-item" href="/resources-for-voice-and-songwriting.html">
                Resources
              </a>
              </div>
            </div>
        </nav>

    <!-- little spacer -->
    <div style="height:35px;"></div>

    <!-- body content here -->
    {{content}}

    <!-- another little spacer -->
    <div style="height:50px;"></div>
    <!-- footer -->
    <footer class="footer">
      <div class="content has-text-centered">
        <div class="columns">
          <div class="column" style="margin-bottom:30px;">
            <!-- newsletter sign-up -->
            <h1 class="is-uppercase">Newsletter</h1>
            <form name="newsletter" method="POST" data-netlify="true">
              <p>Sign up with your email address to receive news and updates.</p>
              <div class="field">
                <label class="label has-text-left">Email:
                  <div class="control has-text-centered">
                  <input style="max-width:500px" class="input" type="email" name="email" placeholder="e.g. alexsmith@gmail.com">
                  </div>
                </label>
              </div>
              <div class="control has-text-centered">
                <button class="button is-light" type="submit">JOIN THE NEWSLETTER!</button>
              </div>
            </form>
          </div>
          <div class="column" style="margin-bottom:30px;">
            <!-- patreon and paypal -->
            <h1 class="is-uppercase">Patrons</h1>
            <p class="">Become a patron to join and support my process behind the scenes,<br>or send a one-time contribution via PayPal.</p>
            <a href="http://patreon.com/nathanpeterson" target=_"blank" rel="noreferrer"><button class="button is-light">BECOME A PATRON</button></a>
            <a href="http://paypal.me/helloindustry" target=_"blank" rel="noreferrer"><button class="button is-light">PAYPAL</button></a>
          </div>
          <div class="column" style="margin-bottom:30px;">
            <!-- socials -->
            <h1 class="is-uppercase">Connect</h1>
              <p class="is-size-5 is-size-6-mobile" style="line-height:40px;">
                <a href="http://youtube.com/helloindustry" target="_blank" rel="noreferrer"><img class="icons" src="/assets/youtube-brands.svg" alt="youtube"></a>
                <a href="http://instagram.com/nathanpeterson" target="_blank" rel="noreferrer"><img class="icons" src="/assets/instagram-brands.svg" alt="instagram"></a>
                <a href="http://twitter.com/nathanpeterson" target="_blank" rel="noreferrer"><img class="icons" src="/assets/twitter-brands.svg" alt="twitter"></a>
                <a href="http://fb.me/nathanpetersonmusic" target="_blank" rel="noreferrer"><img class="icons"  src="/assets/facebook-brands.svg" alt="facebook"></a>
                <a href="http://nathanpeterson.tumblr.com" target="_blank" rel="noreferrer"><img class="icons" src="/assets/tumblr-brands.svg" alt="tumblr"></a>
                <br>
                <a href="mailto:info@nathanpeterson.net">info@nathanpeterson.net</a>
              </p>
          </div>
        </div>
      </div>
    </footer>


    <!-- post-footer material here -->
    {% if summaryFile %}
    <section class="section summary">
      <div class="container">
        {% include "../summaries/{{summaryFile}}" %}
      </div>
      </section>
      {% else %}
      {% endif %}

    <!--<script type="text/javascript" src="lib/main.js"></script>-->
    <script>
        document.addEventListener('DOMContentLoaded', () => {

      // Get all "navbar-burger" elements
      const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

      // Check if there are any navbar burgers
      if ($navbarBurgers.length > 0) {

        // Add a click event on each of them
        $navbarBurgers.forEach( el => {
          el.addEventListener('click', () => {

            // Get the target from the "data-target" attribute
            const target = el.dataset.target;
            const $target = document.getElementById(target);

            // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
            el.classList.toggle('is-active');
            $target.classList.toggle('is-active');

          });
        });
      }

      });
    </script>

    <!-- attribution -->
    <p class="attribution">icons by <a href="https://fontawesome.com/license" target="_blank" rel="noreferrer">FontAwesome</a></p>
    </body>
    </html>
