<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="Description" content="{{description}}">
    <title>{{title}}</title>
    <link rel="stylesheet" href="css/main.css">
  </head>
  <body>
    <!-- navbar -->
    <nav class="navbar is-fixed-top is-transparent is-uppercase" role="navigation" aria-label="main navigation">
          <div class="navbar-brand">
            <a class="navbar-item" href="https://nathanpeterson.net"><strong>Nathan Peterson</strong></a>

            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
              <span aria-hidden="true"></span>
              <span aria-hidden="true"></span>
              <span aria-hidden="true"></span>
            </a>
          </div>

          <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-end is-size-7-desktop is-size-4-touch">
              <a class="navbar-item" href="/index.html">
                Home
              </a>
              <a class="navbar-item" href="/songs-about-life.html">
                Music
              </a>
              <a class="navbar-item" href="/live-music.html">
                Concerts
              </a>
              <a class="navbar-item" href="/speaking-workshops-for-voice-songwriting-worship-leading.html">
                Speaking & Workshops
              </a>
              <a class="navbar-item" href="/books-about-grief-and-healing.html">
                Books
              </a>
              <a class="navbar-item" href="/contact-nathan-peterson.html">
                Contact
              </a>
              <a class="navbar-item" href="/about-nathan-peterson.html">
                About
              </a>
              <a class="navbar-item" href="/resources-for-voice-and-songwriting.html">
                Resources
              </a>
              </div>
            </div>
        </nav>

    <!-- little spacer -->
    <div style="height:15px;"></div>
    
    <!-- body content here -->
    {{content}}


    <!-- footer -->
    <footer class="footer">
      <div class="content has-text-centered">
        <div class="columns">
          <div class="column" style="margin-bottom:30px;">
            <!-- newsletter sign-up -->
            <h1 class="is-uppercase">Newsletter</h1>
            <form name="newsletter" method="POST" data-netlify="true">
              <p>Sign up with your email address to receive news and updates.</p>
              <div class="field">
                <label class="label has-text-left">Email:
                  <div class="control has-text-centered">
                  <input style="max-width:500px" class="input" type="email" name="email" placeholder="e.g. alexsmith@gmail.com">
                  </div>
                </label>
              </div>
              <div class="control has-text-centered">
                <button class="button is-light" type="submit">JOIN THE NEWSLETTER!</button>
              </div>
            </form>
          </div>
          <div class="column" style="margin-bottom:30px;">
            <!-- patreon and paypal -->
            <h1 class="is-uppercase">Contribute</h1>
            <p class="">Become a patron to support monthly and access patron-only content.<br>Or send a one-time gift via PayPal.</p>
            <a href="http://patreon.com/nathanpeterson" target=_"blank" rel="noreferrer"><button class="button is-light">BECOME A PATRON</button></a>
            <a href="http://paypal.me/helloindustry" target=_"blank" rel="noreferrer"><button class="button is-light">PAYPAL</button></a>
          </div>
          <div class="column" style="margin-bottom:30px;">
            <!-- socials -->
            <h1 class="is-uppercase">Connect</h1>
              <p class="is-size-5" style="line-height:40px;">
                <a href="http://instagram.com/nathanpeterson" target="_blank" rel="noreferrer"><img class="icons" src="assets/instagram-brands.svg" alt="instagram"></a>
                <a href="http://twitter.com/nathanpeterson" target="_blank" rel="noreferrer"><img class="icons" src="assets/twitter-brands.svg" alt="twitter"></a>
                <a href="http://fb.me/nathanpetersonmusic" target="_blank" rel="noreferrer"><img class="icons"  src="assets/facebook-brands.svg" alt="facebook"></a>
                <a href="http://nathanpeterson.tumblr.com" target="_blank" rel="noreferrer"><img class="icons" src="assets/tumblr-brands.svg" alt="tumblr"></a>
                <br>
                <a href="mailto:info@nathanpeterson.net">info@nathanpeterson.net</a>
              </p>
          </div>
        </div>
      </div>
    </footer>


    <!-- post-footer material here -->
    {% if summaryFile %}
    <section class="section summary">
      <div class="container">
        {% include "../summaries/{{summaryFile}}" %}
      </div>
      </section>
      {% else %}
      {% endif %}

    <!--<script type="text/javascript" src="lib/main.js"></script>-->
    <script>
        document.addEventListener('DOMContentLoaded', () => {

      // Get all "navbar-burger" elements
      const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

      // Check if there are any navbar burgers
      if ($navbarBurgers.length > 0) {

        // Add a click event on each of them
        $navbarBurgers.forEach( el => {
          el.addEventListener('click', () => {

            // Get the target from the "data-target" attribute
            const target = el.dataset.target;
            const $target = document.getElementById(target);

            // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
            el.classList.toggle('is-active');
            $target.classList.toggle('is-active');

          });
        });
      }

      });
    </script>

    <!-- attribution -->
    <p class="attribution">icons by <a href="https://fontawesome.com/license" target="_blank" rel="noreferrer">FontAwesome</a></p>
    </body>
    </html>
