---
layout: default.html
---
<section class="section">
  <div class="container" style="min-height:80vh;margin-top:50px;max-width:1000px;">
    <h1 class="title" style="margin-bottom:30px;">Latest posts</h1>
    <ul>
      {% for blog in collections.post | reverse %}
      <h1 class="title" style="margin-bottom:0px;"><a href="{{ blog.url }}">{{ blog.data.title }}</a></h1>
      <p style="font-size:12px;color:#ddd;margin-top:0px;margin-bottom:25px;"><time datetime="{{ blog.data.date | dateIso }}">{{ blog.data.date | dateReadable }}</time></p>
      {%- endfor -%}
    </ul>
    </div>
</section>
